<a href="https://colab.research.google.com/github/restrepo/medicion/blob/master/cienciometria/WOS_SCI_SCP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# WOS+SCI+SCP
Merge the bibliographic datasets for Web of Scienca, Scielo and Scopus of the scientific articles of Universidad de Antioquia

For details see [merge.ipynb in Colaboratory](https://colab.research.google.com/github/restrepo/medicion/blob/master/cienciometria/merge.ipynb)

In [0]:
#!git clone https://github.com/restrepo/WOSplus.git

Cloning into 'WOSplus'...
remote: Enumerating objects: 380, done.
remote: Total 380 (delta 0), reused 0 (delta 0), pack-reused 380
Receiving objects: 100% (380/380), 176.34 KiB | 5.19 MiB/s, done.
Resolving deltas: 100% (236/236), done.

In [0]:
import os
if os.getcwd()=='/content':
    !pip install openpyxl xlrd wosplus  > /dev/null

In [0]:
import wosplus as wp
import pandas as pd

##  Configure public links of  files in Google Drive
* If it is a Google Spreadsheet the corresponding file is downloaded as CSV
* If it is in excel or text file the file is downloaded  directly

To define your  own labeled IDs for public google drive files edit the next cell:

In [4]:
%%writefile drive.cfg
[FILES]Ç
UDEA_WOS.xlsx       = 1px2IcrjCrkyu7t78Q7PAE5nzV_yuPt9t
UDEA_SCI.xlsx       = 1pWMY5P72j0Ca6D-cm7dn7Q4TBGTs4PWV
UDEA_SCP.xlsx       = 1ulCsFHzDiTmuL9TH8F58ulh0u8Z2ylKh
UDEA_WOS_SCI_SCP.xlsx   = 1o9otmklgh-0w18Avv2ZTKOXr3vZbjwvj

Writing drive.cfg

##  Load data bases

In [5]:
UDEA=wp.wosplus('drive.cfg')
tmp=UDEA.load_biblio('UDEA_WOS.xlsx') # creates WOS.WOS
tmp=UDEA.load_biblio('UDEA_SCI.xlsx',prefix='SCI') # creates UDEA.SCI
tmp=UDEA.load_biblio('UDEA_SCP.xlsx',prefix='SCP') # creates UDEA.SCP

WARNING: Biblio already has a "Tipo" column

In [6]:
print('before merge: {}'.format( UDEA.WOS.shape[0]+UDEA.SCI.shape[0]+UDEA.SCP.shape[0] )  )

before merge: 24676

### WOS+SCI

In [7]:
UDEA.mergeall()

....................................................................................................................................................................................................................................

### WOS+SCI+SCP

In [0]:
UDEA.merge(left='WOS_SCI',right='SCP')

................................................................................................................................................................................................................

In [8]:
print( 'after merge: {}'.format(UDEA.WOS_SCI_SCP.shape[0]))

after merge: 15726

In [0]:
UDEA.WOS_SCI_SCP.to_excel('UDEA_WOS_SCI_SCP.xlsx',index=False)

In [10]:
ls -l UDEA_WOS_SCI_SCP.xlsx

-rw-r--r-- 1 root root 65038948 Mar 21 22:02 UDEA_WOS_SCI_SCP.xlsx

See the resulting Excel file by opening the side bar → Files → REFRESH and right click for Download upon the generated  "'UDEA_WOS_SCI_SCP.xlsx'" fille, or just check the corresponsing DataFrame:

In [0]:
UDEA.WOS_SCI_SCP.sample()

,AB,AF,AR,AU,BA,BE,BF,BN,BP,C1,...,SU,TC,TI,Tipo,U1,U2,UT,VL,WC,Z9
568,,"Vasquez, E.\nFranco, J. L.\nOrrego, J. C.\n",,"Vasquez, E\nFranco, JL\nOrrego, JC\n",,,,,S126\n,"[Vasquez, E.; Franco, J. L.; Orrego, J. C.] Un...",...,3\n,0.0,Subcutaneous (SCIg) Gammaglobulin for the Trea...,WOS,0.0,0.0,WOS:000347388100064\n,33\n,Immunology\n,0.0

In [0]:
UDEA.WOS_SCI_SCP.to_json('UDEA_WOS_SCI_SCP.json.gz',compression='gzip')

In [0]:
UDEA=pd.read_json('UDEA_WOS_SCI_SCP.json.gz',compression='gzip')

## Load merged database

In [0]:
udea=wp.wosplus('drive.cfg')

In [0]:
#udea.load_biblio('UDEA_WOS_SCI_SCP.xlsx')

In [0]:
UDEA=pd.read_excel('UDEA_WOS_SCI_SCP.xlsx')

In [0]:
UDEA_OLD=udea.read_drive_excel('UDEA_WOS_SCI_SCP.xlsx')

In [0]:
UDEA=UDEA.fillna('')

In [0]:
UDEA_OLD=UDEA_OLD.fillna('')

In [26]:
wp.df_split( UDEA, 'DI',Operator='!=',condition='')[0].shape

(8038, 151)

In [29]:
wp.df_split( UDEA_OLD, 'DI',Operator='!=',condition='')[0].shape

(7993, 154)

In [0]:
import numpy as np

In [39]:
np.setdiff1d(UDEA[UDEA.DI!=''].DI.values,UDEA_OLD[UDEA_OLD.DI!=''].DI.values)

array(['10.1016/j.rca.2015.03.008', '10.1016/j.rca.2016.02.014',
       '10.1016/j.rca.2016.05.005', '10.1016/j.rccar.2016.09.003',
       '10.1016/j.rcp.2017.06.004', '10.1016/j.uroco.2015.05.009',
       '10.11144/Javeriana.CDR11-73.ards',
       '10.11144/javeriana.CRD11-74.raea',
       '10.12804/revsalud12.2.2014.01',
       '10.15446/agron.colomb.v34n2.54920', '10.15446/dyna.v81n187.40960',
       '10.15446/historelo.v9n17.55495',
       '10.15446/ideasyvalores.v66n164.64873',
       '10.15446/rev.colomb.quim.v45n1.58955', '10.15517/rbt.v65i1.21766',
       '10.17230/co-herencia.12.22.10', '10.17533/udea.iatreia.v28n2a03',
       '10.17533/udea.iatreia.v28n2a04',
       '10.17533/udea.iatreia.v28n2a12.',
       '10.17533/udea.iatreia.v28n3a01', '10.17533/udea.iatreia.v28n3a12',
       '10.17533/udea.iatreia.v28n4a04', '10.17533/udea.iatreia.v28n4a05',
       '10.17533/udea.iatreia.v29n1a0', '10.17533/udea.iatreia.v29n1a01',
       '10.17533/udea.iatreia.v29n1a07', '10.17533/udea.iatreia.v29n1a9',
       '10.17533/udea.iatreia.v29n2a04', '10.17533/udea.iatreia.v29n2a05',
       '10.17533/udea.iatreia.v29n2a11', '10.17533/udea.iatreia.v29n2a13',
       '10.17533/udea.ikala.v22n03a01', '10.17533/udea.rccp.v29n2a01',
       '10.17533/udea.rccp.v29n2a07',
       '10.3265/Nefrologia.2009.29.6.5490.en.full',
       '10.4067/S0250-71612016000100009',
       '10.4067/S0716-1018201500030008',
       '10.4067/S0718-22012016000200006',
       '10.4067/S0718-33052015000300010',
       '10.4067/S0718-33052016000200007',
       '10.4067/S0718-33052017000200314',
       '10.4067/S0718-33052017000300477',
       '10.4067/S0718-33052017000400662',
       '10.4067/S0718-33052017000400721', '10.498/17258',
       '10.7705/biomedica.v37i4.3416'], dtype=object)

In [40]:
UDEA_OLD[UDEA_OLD.DI=='10.1016/j.rca.2015.03.008']

Empty DataFrame
Columns: [AB, AF, AR, AU, BA, BE, BF, BN, BP, C1, CA, CL, CR, CT, CY, D2, DA, DE, DI, DT, EI, EM, EP, FU, FX, GA, GP, HO, ID, IS, J9, JI, LA, MA, NR, OA, OI, PA, PD, PG, PI, PM, PN, PT, PU, PY, RI, RP, SC, SCI_AB, SCI_AU, SCI_BP, SCI_C1, SCI_C2, SCI_CR, SCI_DE, SCI_DI, SCI_DT, SCI_EC, SCI_EM, SCI_EP, SCI_IS, SCI_LA, SCI_NR, SCI_OA, SCI_OI, SCI_PA, SCI_PD, SCI_PI, SCI_PT, SCI_PU, SCI_PY, SCI_RI, SCI_SC, SCI_SN, SCI_SO, SCI_TC, SCI_TI, SCI_Tipo, SCI_U1, SCI_U2, SCI_UT, SCI_VL, SCI_X1, SCI_X4, SCI_X5, SCI_Y1, SCI_Y4, SCI_Y5, SCI_Z1, SCI_Z4, SCI_Z5, SCI_Z9, SCP_Abbreviated Source Title, SCP_Abstract, SCP_Access Type, SCP_Affiliations, SCP_Art. No., SCP_Author Keywords, SCP_Authors, ...]
Index: []

[0 rows x 154 columns]

In [42]:
UDEA_OLD[UDEA_OLD.SCP_DOI=='10.1016/j.rca.2015.03.008']

,AB,AF,AR,AU,BA,BE,BF,BN,BP,C1,...,SU,TC,TI,Tipo,U1,U2,UT,VL,WC,Z9
11741,,,,"Zamudio-Burbano, Mario Andres\nCasas-Arroyave,...",,,,,,,...,,0,Airway management using ultrasound,SCI_SCP,0,0,,,,0

In [43]:
UDEA[UDEA.DI=='10.1016/j.rca.2015.03.008']

,AB,AF,AR,AU,BA,BE,BF,BN,BP,C1,...,SU,TC,TI,Tipo,U1,U2,UT,VL,WC,Z9
13630,,,,"Zamudio-Burbano M.A., Casas-Arroyave F.D.",,,,,,,...,,0,Airway management using ultrasound [El uso del...,SCP,0,0,,,,0

In [44]:
UDEA[UDEA.SCI_TI.str.contains('Airway management')]

,AB,AF,AR,AU,BA,BE,BF,BN,BP,C1,...,SU,TC,TI,Tipo,U1,U2,UT,VL,WC,Z9
1566,,,,"Zamudio-Burbano, Mario Andres\nCasas-Arroyave,...",,,,,,,...,,0,Airway management using ultrasound,SCI,0,0,,,,0

In [45]:
UDEA[UDEA.SCP_Title.str.contains('Airway management')]

,AB,AF,AR,AU,BA,BE,BF,BN,BP,C1,...,SU,TC,TI,Tipo,U1,U2,UT,VL,WC,Z9
13630,,,,"Zamudio-Burbano M.A., Casas-Arroyave F.D.",,,,,,,...,,0,Airway management using ultrasound [El uso del...,SCP,0,0,,,,0

In [46]:
UDEA[UDEA.SCP_DOI=='10.1016/j.rca.2015.03.008']

,AB,AF,AR,AU,BA,BE,BF,BN,BP,C1,...,SU,TC,TI,Tipo,U1,U2,UT,VL,WC,Z9
13630,,,,"Zamudio-Burbano M.A., Casas-Arroyave F.D.",,,,,,,...,,0,Airway management using ultrasound [El uso del...,SCP,0,0,,,,0

In [47]:
UDEA[UDEA.SCI_DI=='10.1016/j.rca.2015.03.008']

Empty DataFrame
Columns: [AB, AF, AR, AU, BA, BE, BF, BN, BP, C1, CA, CL, CR, CT, CY, D2, DA, DE, DI, DT, EI, EM, EP, FU, FX, GA, GP, HO, ID, IS, J9, JI, LA, MA, NR, OA, OI, PA, PD, PG, PI, PM, PN, PT, PU, PY, RI, RP, SC, SCI_AB, SCI_AU, SCI_BP, SCI_C1, SCI_C2, SCI_CR, SCI_DE, SCI_DI, SCI_DT, SCI_EC, SCI_EM, SCI_EP, SCI_IS, SCI_LA, SCI_NR, SCI_OA, SCI_OI, SCI_PA, SCI_PD, SCI_PI, SCI_PT, SCI_PU, SCI_PY, SCI_RI, SCI_SC, SCI_SN, SCI_SO, SCI_TC, SCI_TI, SCI_Tipo, SCI_U1, SCI_U2, SCI_UT, SCI_VL, SCI_X1, SCI_X4, SCI_X5, SCI_Y1, SCI_Y4, SCI_Y5, SCI_Z1, SCI_Z4, SCI_Z5, SCI_Z9, SCP_Abbreviated Source Title, SCP_Abstract, SCP_Access Type, SCP_Affiliations, SCP_Art. No., SCP_Author Keywords, SCP_Authors, ...]
Index: []

[0 rows x 151 columns]

In [19]:
UDEA.drop_duplicates('DI').shape

(8036, 151)

In [0]:
for t in ['WOS','SCI','SCP']:
    print( 'DOIS {}: {}'.format(t,
        wp.df_split( UDEA[ UDEA.Tipo.str.contains(t) ], 'DI',Operator='!=',condition='')[0].shape) )

DOIS WOS: (6025, 154)
DOIS SCI: (1409, 154)
DOIS SCP: (6955, 154)

In [0]:
y.shape

(6025, 154)